.catalog-info-table {
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 1rem;
  width: fit-content;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.catalog-info-table caption {
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.5rem;
}

.catalog-info-table thead tr {
  background-color: var(--primary);
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.catalog-info-table th,
.catalog-info-table td {
  padding: 0.7rem 1rem;
}

.catalog-info-table tbody tr {
  border-bottom: 1px solid black;
}

.catalog-info-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary);
}
